In [16]:
import pandas as pd

In [17]:
df=pd.read_csv("E:/PICT 3rd/subject material/DSBDA Prep/Datasets/archive/Dataset_Facebook.csv",sep=";");

In [18]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [19]:
photo_post=df[df["Type"]=="Photo"]
status_post=df[df["Type"]=="Status"]

In [20]:
merged_posts=pd.concat([photo_post,status_post])

In [21]:
sorted_df=df.sort_values("Page total likes",ascending=False)

In [22]:

transposed=df.head(3).transpose()

In [23]:
melted = pd.melt(df, id_vars=['Post Month', 'Post Weekday'], value_vars=['Type', 'Category'])

In [27]:
melted

     Post Month  Post Weekday  variable   value
0            12             4      Type   Photo
1            12             3      Type  Status
2            12             3      Type   Photo
3            12             2      Type   Photo
4            12             2      Type   Photo
..          ...           ...       ...     ...
995           1             7  Category       3
996           1             5  Category       2
997           1             5  Category       1
998           1             4  Category       3
999           1             4  Category       2

[1000 rows x 4 columns]

In [25]:
pivoted = melted.pivot_table(
    index=['Post Month', 'Post Weekday'],
    columns='variable',
    values='value',
    aggfunc='first'  # or 'sum', 'max', 'min' depending on use-case
)

print(pivoted.head())

variable                Category   Type
Post Month Post Weekday
1          1                   3  Photo
           2                   3  Photo
           3                   3  Photo
           4                   2  Photo
           5                   3  Photo

In [26]:
print("Subset - Photo Posts:\n", photo_post.head(), "\n")
print("Merged Posts:\n", merged_posts.head(), "\n")
print("Sorted by Likes:\n", sorted_df[['Type', 'Page total likes']].head(), "\n")
print("Transposed:\n", transposed, "\n")
print("Melted Data:\n", meltdf.head(), "\n")

Subset - Photo Posts:
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
2            139441  Photo         3          12             3          3
3            139441  Photo         2          12             2         10
4            139441  Photo         2          12             2          3
6            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594
6   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
2                     177                      113
3                    2211                      790
4                     671                      410
6                     481                      265

   Lifetime Post Consumptions  \
0                         159
2                         154
3                        1119
4                         580
6                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
2                                               2812
3                                              61027
4                                               6228
6                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
2                                              1503
3                                             32048
4                                              3200
6                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
2                                                132
3                                               1386
4                                                396
6                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393
6        3   249.0   27.0                 279

Merged Posts:
    Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
0            139441  Photo         2          12             4          3
2            139441  Photo         3          12             3          3
3            139441  Photo         2          12             2         10
4            139441  Photo         2          12             2          3
6            139441  Photo         3          12             1          3

   Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0   0.0                       2752                             5091
2   0.0                       2413                             4373
3   1.0                      50128                            87991
4   0.0                       7244                            13594
6   1.0                      11692                            19479

   Lifetime Engaged Users  Lifetime Post Consumers  \
0                     178                      109
2                     177                      113
3                    2211                      790
4                     671                      410
6                     481                      265

   Lifetime Post Consumptions  \
0                         159
2                         154
3                        1119
4                         580
6                         364

   Lifetime Post Impressions by people who have liked your Page  \
0                                               3078
2                                               2812
3                                              61027
4                                               6228
6                                              15432

   Lifetime Post reach by people who like your Page  \
0                                              1640
2                                              1503
3                                             32048
4                                              3200
6                                              9328

   Lifetime People who have liked your Page and engaged with your post  \
0                                                119
2                                                132
3                                               1386
4                                                396
6                                                379

   comment    like  share  Total Interactions
0        4    79.0   17.0                 100
2        0    66.0   14.0                  80
3       58  1572.0  147.0                1777
4       19   325.0   49.0                 393
6        3   249.0   27.0                 279

Sorted by Likes:
       Type  Page total likes
0    Photo            139441
8   Status            139441
1   Status            139441
12   Photo            139441
11   Photo            139441

Transposed:
                                                          0       1       2
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

Melted Data:
      Type Reaction   Count
0   Photo     like    79.0
1  Status     like   130.0
2   Photo     like    66.0
3   Photo     like  1572.0
4   Photo     like   325.0